In [98]:
import requests as req 
api_key = 'enter your api key'

TMDb 1.1
Send Feedback
Find the 'id' of the movie "Andhadhun" using TMDb API.
Output Format:
Print the id of the movie.

In [2]:
for i in range(1,10):
    res = req.get('https://api.themoviedb.org/3/discover/movie',params={'api_key':api_key,'page':i,'region':'IN','year':2018}) 
    data=res.json()
    for i in data['results']:
        if 'Andhadhun' in i['title']:
            print(i['id'])
            break

534780

TMDb 1.2
Send Feedback
Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [3]:
res = req.get('https://api.themoviedb.org/3/search/company', params={'api_key':api_key, 'page':1, 'query':'Marvel Studios'})
data = res.json()
data

{'page': 1,
 'results': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'total_pages': 1,
 'total_results': 1}

In [4]:
data['results']

[{'id': 420,
  'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
  'name': 'Marvel Studios',
  'origin_country': 'US'}]

In [5]:
for i in data['results']:
    print(i['id'])

420

TMDb 1.3
Find the vote count and vote average of the movie "3 Idiots" using the TMDb API
Output format: Vote Count , Vote Average

In [6]:
api_key = '3af5fd1bec09de6a1a6e1009f79d583b'
for i in range(1,10):
    res = req.get('https://api.themoviedb.org/3/discover/movie',params={'api_key':api_key,'page':i,'region':'IN','year':2009}) 
    data=res.json()
    for i in data['results']:
        if '3 Idiots' in i['title']:
            print(i['vote_count'],i['vote_average'])
            break

1919 8

TMDb 1.4
Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.
Output Format:
Print the name of the movies in a new line.
movie_name_1
movie_name_2
and so on

In [99]:
api_link = "https://api.themoviedb.org/3" 
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = req.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title') == 'Inception':
        id = result.get('id')
params2 = {'api_key':api_key}
response2 = req.get(api_link + "/movie/" + str(id) + "/similar", headers = header, params=params2)
data2 = response2.json()
results2 = data2.get('results')
for result in results2[:5]:
    print(result.get("title"))

Inception
It Follows
The Martian
Skiptrace
King Arthur: Legend of the Sword

TMDb 1.5
Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.
Note: Do not use the search/movies API for finding genres.
Output Format:
movie_name_1 - genre_1, genre_2 ....
and so on..

In [9]:
res = req.get('https://api.themoviedb.org/3/genre/movie/list', params={'api_key':api_key})
data = res.json()
genres ={}
for i in data['genres']:
    genres[i['id']] = i['name']
genres

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [34]:
res = req.get('https://api.themoviedb.org/3/movie/top_rated', params={'api_key':api_key, 'region':'US'})
data = res.json()
data['results']
count = 1
while count < 10:
    for i in data['results']:
        if i['original_language'] == 'en':
            print(i['title'], end=' - ')
            for j in i['genre_ids']:
                print(genres[j], end=',')
            print()
            if count == 10:
                break
            count += 1

The Godfather - Drama,Crime,
The Shawshank Redemption - Drama,Crime,
The Godfather Part II - Drama,Crime,
Schindler's List - Drama,History,War,
12 Angry Men - Drama,
Gabriel's Inferno: Part II - Romance,
The Green Mile - Fantasy,Drama,Crime,
Gabriel's Inferno - Romance,
The Dark Knight - Drama,Action,Crime,Thriller,
Pulp Fiction - Thriller,Crime,

TMDb 2.1
Find the name and birthplace of the present most popular person according to TMDb API.
Output Format:
id
name - birthplace

In [11]:
res = req.get('https://api.themoviedb.org/3/person/popular',params={'api_key':api_key}) 
data=res.json()
data=data['results'][0]
MostPopularId=data['id']
MostPopularId

224513

In [12]:
res = req.get('https://api.themoviedb.org/3/person/1907997',params={'api_key':api_key}) 
data=res.json()
print(data['name'],'-',data['place_of_birth'])

Min Do-yoon - Seoul, South Korea

TMDb 2.2
Send Feedback
Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.
Output Format
Print the Instagram and Twitter IDs space separated.
instagram_id twitter_id

In [13]:
res = req.get('https://api.themoviedb.org/3/search/person', params={'api_key':api_key, 'query':'Alia Bhatt'})
data = res.json()
# data
1108120

1108120

In [14]:
res = req.get('https://api.themoviedb.org/3/person/1108120/external_ids', params={'api_key':api_key})
data = res.json()
print(data['instagram_id'], data['twitter_id'])

aliaabhatt Aliaa08

TMDb 2.3
Fetch the names of the character played by Tom Cruise in the movies:
Top Gun
Mission: Impossible - Fallout
Minority Report
Edge of Tomorrow
Output Format:
Print the names of the characters played by Tom Cruise line separated, in the respective order given in question.

In [15]:
res = req.get('https://api.themoviedb.org/3/search/person', params={'api_key':api_key, 'query':'Tom Cruise'})
data = res.json()
for i in data['results']:
    print(i['id'])

500

In [16]:
res = req.get('https://api.themoviedb.org/3/person/500/movie_credits', params={'api_key':api_key})
l = ['Top Gun', 'Mission: Impossible - Fallout', 'Minority Report','Edge of Tomorrow']
data = res.json()
for j in l:
    for i in data['cast']:
        if i['title'] == j:
            print(i['character'])

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

TMDb 2.4
Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [17]:
res =req.get('https://api.themoviedb.org/3/search/person', params={'api_key':api_key, 'query':'James McAvoy'})
data = res.json()
for i in data['results']:
    Id = i['id']
    break
Id

5530

In [94]:
res = req.get('https://api.themoviedb.org/3/person/5530/movie_credits', params={'api_key':api_key})
data = res.json()
for i in data['cast']:
    if 'Deadpool' in i['title']:
        print('Yes')
        break
else:
    print('No')

Yes

TMDb 2.5
Send Feedback
Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [95]:
for result in data['cast']:
    if result['title']=='Deadpool 2':
        a=result['character']
        print('No')

No

TMDb 3.1
Fetch the overview of the TV Show "FRIENDS" using TMDb API.

In [91]:
res=req.get('https://api.themoviedb.org/3/search/tv', params={"api_key":api_key, 'query':'FRIENDS'})
d = res.json()
for i in d['results']:
    print(i['overview'])

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.
Thomas & Friends is a British children's television series, which had its first broadcast on the ITV network on 4 September 1984. It is based on The Railway Series of books by the Reverend Wilbert Awdry and his son, Christopher Awdry. These books deal with the adventures of a group of anthropomorphised locomotives and road vehicles who live on the fictional Island of Sodor. The books were based on stories Wilbert told to entertain his son, Christopher during his recovery from measles. From Series one to four, many of the stories are based on events from Awdry's personal experience.
This action and adventure comedy is drawn in simple appearance and combines cute forest animals with extreme graphic violence. Each episode revolves around the characters enduring accidental events of bloodshed, pain, dismemberment and/or death.
The animated stories of Garfield the cat, Odie the dog, their owner Jon and the trouble they get into. And also Orson the Pig and his adventures on a farm with his fellow farm animals.
Barney & Friends is an American children's television series aimed at children from ages 2 to 5. The series, which first aired on April 6, 1992, features the title character Barney, a purple anthropomorphic Tyrannosaurus rex who conveys educational messages through songs and small dance routines with a friendly, optimistic attitude.
Smiling Friends Inc. is a small company whose main purpose is to bring happiness and make people smile. The series follows the day-to-day lives and misadventures of its representatives, the lazy, cynical Charlie, and the cheerful, optimistic Pim, as they try to cheer up and comfort the troubled people who call their company's hotline. They receive seemingly simple requests but the jobs turn out to be more complicated than they seem, making it difficult to bring happiness to the world.
Children who create imaginary friends usually take care of them until they are 7-8 years old. Imaginary friends, left on their own after this event, continue to live in this home founded by old Madam Foster.
Follow Peter Parker, Gwen Stacy and Miles Morales and their adventures as the young heroes team up with Hulk, Ms. Marvel and Black Panther to defeat foes like Rhino, Doc Ock and Green Goblin and learn that teamwork is the best way to save the day.
Armed with technological gear, great ideas and an unfailing sense of humour, Talking Tom and his friends are on a mission to reach stardom at all costs.
Spider-Man and His Amazing Friends is an American animated television series produced by Marvel Productions starring established Marvel Comics characters Spider-Man and Iceman and an original character, Firestar. As a trio called the Spider-Friends, they fought against various villains.
When their aspiring scientist friend Barry's invention goes awry, best friends Shelby and Cyd gain the power to leap forward and backward in time whenever they want – and sometimes when they don't. Now, they experience the twists and turns of friendship and must decide between fixing mistakes in the past or catching a glimpse of the future. While Barry and his assistant, Naldo, try to figure out how to replicate time travel for themselves, Cyd and Shelby use their newfound power to navigate high school life and Shelby's mischievous twin brothers, Bret and Chet.
Pooh, Tigger, and friends from the Hundred Acre Wood welcome new neighbors — an adorable six-year-old girl named Darby and her puppy, Buster. With the help of adventurous super sleuths Tigger and Pooh, every episode revolves around the solving of a mystery and an interactive curriculum that encourages viewers to help them out.
The most powerful heroes ever--Superman, Wonder Woman, Aquaman, Batman and Robin--join forces with teenagers Wendy and Marvin and their dog, Marvel the Wonderdog, to defend justice and guard the innocent.
Meet Andrea, Mia, Emma, Olivia and Stephanie. They're five best friends. And they're on a heroic mission: to save Heartlake City from wily swindlers.
Twenty years after graduation, a tight-knit group of college friends reconnects and discovers that love hasn't gotten easier with age.
Friends is a short-lived kids-oriented drama that aired in the spring of 1979. The series, which was produced by Aaron Spelling and aired on ABC, starred Charlie Aiken, Jill Whelan, and Jarrod Johnson as three Southern Californian 11-year-olds. Karen Morrow also appeared. Only five one-hour episodes were produced before the series was cancelled.
Revolving around a group of twentysomething singles as they navigate the difficult, sometimes rewarding, often confusing world of dating. Loyal and devoted to one another, these friends are never too busy to help a member of the group who might be in need. In fact, their companionship often extends into a more intimate setting - the bedroom.
Dora goes to school and lives in Playa Verde, which is a city. Together with the explorer girls Emma, Kate, Naiya, and Alana and her only male companion, Pablo, Dora and her friends work together and go on amazing adventures while discovering the secrets of their city. Dora has a magical charm bracelet and a smart phone, complete with an app version of the previous Map to aid her. Her friend Kate is fond of drama, while Emma loves music. Alana is tomboyish but loves animals, Naiya is smart and loves to read, and Pablo loves playing soccer.
In Murder With Friends, Grace Baldridge invites guests to talk about some of history's most notorious murderers.
Five Best Friends Go on Many Fun Lego adventures.

TMDb 3.2
Send Feedback
Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.
Output Format:
episode_name - air_date

In [92]:
res = req.get('https://api.themoviedb.org/3/search/tv', params={'api_key':api_key, 'query':'The Big Bang Theory'})
d = res.json()
for i in d['results']:
    print(i['id'])
    break

1418

In [93]:
res = req.get('https://api.themoviedb.org/3/tv/1418/season/06/episode/05',params={'api_key':api_key,'query':'The Big Bang Theory'}) 
data=res.json()
print(data['name'],'-',data['air_date'])

The Holographic Excitation - 2012-10-25

TMDb 3.3
Send Feedback
Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead
Output Format:
Print the taglines in new line.

In [96]:
import requests 
api_link = "https://api.themoviedb.org/3" 
params = {'api_key':api_key} 
header = {'Accept': 'application/json'} 
response = requests.get(api_link + "/trending/tv/week", headers = header, params = params) 
data = response.json() 
results = data.get("results") 
ids=[] 
for result in results[:5]: 
    ids.append(result.get("id")) 
    
for id in ids: 
    response2 = requests.get(api_link + "/tv/" + str(id) , headers = header, params = params) 
    data2 = response2.json() 
    if (data2.get("tagline")) != "": 
        print(data2.get("tagline")) 
    else: print('Empty')

Journey to Middle-earth.
Fire and blood.
You'll like her when she's angry.
Empty
The Rebellion begins.

TMDb 3.4
Send Feedback
Print the names of all the TV shows to be aired today whose original language is english.
Output Format:
Print the name of each TV show in a new line.

In [97]:
res = req.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':api_key}) 
data=res.json()
total_pages=data['total_pages']

for j in range(1,total_pages+1):
    res = requests.get('https://api.themoviedb.org/3/tv/airing_today',params={'api_key':api_key,'page':j}) 
    data=res.json()
    for i in data['results']:
        if i['original_language']=='en':
            print(i['name'])

Chucky
American Horror Story
Star Wars: Andor
Doctors
Tenable
Emmerdale
Hollyoaks
PBS NewsHour
The Price Is Right
The Handmaid's Tale
Pointless
The Daily Show with Trevor Noah
Rachael Ray
Chicago Fire
Let's Make a Deal
The Drew Barrymore Show
Richard Osman's House of Games
Chicago P.D.
General Hospital
DC's Stargirl
Coronation Street
The Block
Chicago Med
Our School
EastEnders
Dr. Phil
Good Mythical Morning
Abot-Kamay Na Pangarap
Survivor
America Says
Home and Away
Days of Our Lives
Big Sky
The Goldbergs
Pawn Stars
NOVA
Jeopardy!
LIVE with Kelly and Ryan
Kung Fu
The Kelly Clarkson Show
The Mighty Ducks: Game Changers
Family Feud Canada
The Amazing Race
The Challenge
Brassic
Forged in Fire
Doc Martin
The View
The Real Housewives of Beverly Hills
Cuomo
WWE's The Bump
Somewhere Boy
Match of the Day
Dateline: Secrets Uncovered
Tyler Perry's Sistas
Tell Me Lies
The Masked Singer
Bhagya Lakshmi
The Conners
Abbott Elementary
Sherri
This England
Karamo Show
Home Economics
House Hunters
Return to Paradise
Documentary Now!
Married at First Sight
Grand Designs
Jay Leno's Garage
Reginald the Vampire
Richard Herring's Leicester Square Theatre Podcast
Gogglebox Australia
Alex Wagner Tonight
Salvage Hunters
The People's Court
LEGO Masters
Love Is Blind
Diggstown
Love At First Lie
To Catch a Smuggler
Ralph & Katie
Summer Love
Icons Unearthed
English Football League Highlights
The Real Love Boat
The D'Amelio Show
Iron Resurrection
Never Mind the Buzzcocks
The 101 Scariest Horror Movie Moments of All Time
Li'l Doc
Court Night Live
The Real Love Boat Australia
Growing Up Chrisley
Car Pound Cops: Give Me My Car Back!
Selling in the City
Primal Survivor: Over the Andes
Finding The Rainbow
Ajwan
People Puzzler
Tamron Hall
The Real Housewives of Salt Lake City
Lost For Words
The Elon Musk Show
Nakarehas Na Puso
Trainspotting with Francis Bourgeois
Judge Mathis
Tok Guru
Demi
Ride of Your Life With Courtney Hansen
To Catch A Smuggler Caribbean Coast

TMDb 3.5
Send Feedback
Count the number of males and females in the cast of "Money Heist" using the TMDb API.
Output Format:
Print the count of male and female space separated.
male_count female_count

In [86]:
res = req.get('https://api.themoviedb.org/3/search/tv', params={'api_key':api_key, "query":'Money Heist'})
d = res.json()
for i in d['results']:
    print(i['id'])
    break

71446

In [100]:
res = req.get('https://api.themoviedb.org/3/tv/71446/credits', params={'api_key':api_key})
d = res.json()
male = 0
female = 0
for i in d['cast']:
    if i['gender'] == 1:
        male += 1
    elif i['gender'] == 2:
        female +=1
print(female, male)

10 5